всего {{cart.orders|length}} заказов.
{% for order in cart.orders %}
<div class="order">
{{order.count}} шт. {{order.good.title}} по {{order.good.price}} <form action="{{ path('delete_order',{'id':order.id,'cart':cart.hash}) }}" method="POST"><button class="btn btn-danger">{{ icon('remove') }}</button></form>
</div>
{% endfor %}
{% if cart.amount > 0 %}
<a class="btn btn-primary" href="{{path('payment_details',{'cart':cart.hash})}}">Оплата</a>
{% endif %}